{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block%}
  <div>
    {% if registered %}
      <h1>Thankyou for registering</h1>
    {% else %}
      <h1>Register Here</h1>
      <h3>Fill out the form</h3>

      <!-- <form class="" enctype="multipart/form-data" action="index.html" method="POST" > -->
      <form class="" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        {{ user_form.as_p}}
        {{ profile_form.as_p}}
        <input type="submit" name="" value="Register">
      </form>
    {% endif %}
  </div>
{% endblock %}
